<footer>
	<div class="container">
		<div class="row padd-b">
		<div class="col-sm-3">
			<img src="assets/images/foot-logo.png" class="img-responsive" alt="foot-logo" title="foot-logo" />
			<p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit condimen-tum tortor, eget ultricies ante luctus sed. Praesent lobortis scelerisque ipsum sed commodo[...]</p>
		</div>
		<div class="col-sm-3 contact">
			<h3>Contact us</h3>
			<ul class="list-inline">
			<li>
				<div class="inner"><i class="fa fa-home" aria-hidden="true"></i> Address</div>
				<div class="in"><a href="#"> : 123 Lorem  ipsum dolor, Ludhiana, India</a></div>
			</li>
			<li>
				<div class="inner"><i class="fa fa-phone" aria-hidden="true"></i>Phone No.</div>
				<div class="in"><a href="#"> : (+91)123457890, (1234)</a></div>
			</li>
			<li>
				<div class="inner"><i class="fa fa-envelope" aria-hidden="true"></i>Email</div>
				<div class="in"><a href="#"> : 1234@example.com</a></div>
				<br>
				<div class="inner paddleft">website</div>
				<div class="in"><a href="#">  : www.Domain.com</a></div>
			</li>
			</ul>
		</div>
		<div class="col-sm-3 info">
			<h3>Information</h3>
			<ul class="list-inline">
			<li><a href="index-2.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
			<li><a href="login.html"><i class="fa fa-angle-right" aria-hidden="true"></i>My Account</a></li>
			<li><a href="about.html"><i class="fa fa-angle-right" aria-hidden="true"></i>About</a></li>
			<li><a href="packages.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Packages</a></li>
			<li><a href="gallery.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Gallery</a></li>
			<li><a href="tour-grid-view.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Best Tour</a></li>
			<li><a href="hotel.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Hotels</a></li>
			<li><a href="place.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Best Places</a></li>
			<li><a href="blog.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
			</ul>
		</div>
		<div class="col-sm-3 insta">
			<h3>Instagram</h3>
			<ul class="list-inline">
			<li><img src="assets/images/ins1.jpg" class="img-responsive" title="ins1" alt="ins1" /></li>
			<li><img src="assets/images/ins2.jpg" class="img-responsive" title="ins2" alt="ins2" /></li>
			<li><img src="assets/images/ins3.jpg" class="img-responsive" title="ins3" alt="ins3" /></li>
			<li><img src="assets/images/ins4.jpg" class="img-responsive" title="ins4" alt="ins4" /></li>
			<li><img src="assets/images/ins5.jpg" class="img-responsive" title="ins5" alt="ins5" /></li>
			<li><img src="assets/images/ins6.jpg" class="img-responsive" title="ins6" alt="ins6" /></li>
			<li><img src="assets/images/ins7.jpg" class="img-responsive" title="ins7" alt="ins7" /></li>
			<li><img src="assets/images/ins8.jpg" class="img-responsive" title="ins8" alt="ins8" /></li>
			</ul>
		</div>
		</div>
		
		<div class="row">
		<div class="col-sm-12">
			<div class="powered">
			<div class="col-sm-6 padd0">
				<p>© Copyright 2017. <span>TMD Travel Agency </span> by <a target="_blank" href="https://www.themultimediadesigner.com/">The Multimedia Designer</a> </p>
			</div>
			<div class="col-sm-6 padd0 text-right">
				<div class="social-icon">
				<ul class="list-inline">
					<li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="https://plus.google.com/" target="_blank"><i class="social_googleplus" aria-hidden="true"></i></a></li>
					<li><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					<li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="https://in.pinterest.com/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					<li><a href="https://photos.google.com/" target="_blank"><i class="social_picassa"></i></a></li>
					<li><a href="https://www.youtube.com/?gl=IN" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
				</ul>
				</div>
			</div>
			</div>
		</div>
		</div>
	</div>
</footer>