<!-- breadcrumb start here -->
<div class="bread-crumb">
	<div class="container">
		<h2>Our Packages</h2>
		<ul class="list-inline">
			<li><a href="index-2.html">home</a></li>
			<li><a href="packages.html">Packages</a></li>
			<li><a href="package-detail-view.html">safari tour</a></li>
		</ul>
	</div>
</div>
<!-- breadcrumb end here -->

<!-- main container start here -->
<div class="placetop">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-box">
					<h6>TALK TO EXPERT</h6>
					<div class="talk">
						<ul class="list-unstyled">
							<li>
								<i class="fa fa-skype" aria-hidden="true"></i>
								<h4>CONTACT SKYPE</h4>
								<P>John Doe</P>
							</li>
							<li>
								<i class="fa fa-phone" aria-hidden="true"></i>
								<h4>PHONE</h4>
								<P>+1 (123) 123 12345</P>
							</li>
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<h4>EMAIL</h4>
								<P>Johndoe01@gmail.com</P>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-box">
					<h6>LAST MINUTE DEALS</h6>
					<div class="last1">
						<ul class="list-unstyled">
							<li>
								<div class="product-thumb">
									<div class="image">
										<img src="assets/images/tour/img1.jpg" class="img-responsive" alt="img1" title="img1" />
										<div class="hoverbox">
											<div class="icon_plus" aria-hidden="true"></div>
										</div>
									</div>
									<div class="caption">
										<h4>Island Trip</h4>
										<div class="rate">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
										<p>HONAI - VIETNAM</p>
									</div>
								</div>
							</li>
							<li>
								<div class="product-thumb">
									<div class="image">
										<img src="assets/images/tour/img2.jpg" class="img-responsive" alt="img2" title="img2" />
										<div class="hoverbox">
											<div class="icon_plus" aria-hidden="true"></div>
										</div>
									</div>
									<div class="caption">
										<h4>Goa Trip</h4>
										<div class="rate">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
										<p>HONAI - VIETNAM</p>
									</div>
								</div>
							</li>
							<li>
								<div class="product-thumb">
									<div class="image">
										<img src="assets/images/tour/img3.jpg" class="img-responsive" alt="img3" title="img3" />
										<div class="hoverbox">
											<div class="icon_plus" aria-hidden="true"></div>
										</div>
									</div>
									<div class="caption">
										<h4>USA Trip</h4>
										<div class="rate">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
										<p>HONAI - VIETNAM</p>
									</div>
								</div>
							</li>
							<li>
								<div class="product-thumb">
									<div class="image">
										<img src="assets/images/tour/img4.jpg" class="img-responsive" alt="img4" title="img4" />
										<div class="hoverbox">
											<div class="icon_plus" aria-hidden="true"></div>
										</div>
									</div>
									<div class="caption">
										<h4>Beach</h4>
										<div class="rate">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
										<p>HONAI - VIETNAM</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-image">
					<img src="assets/images/tour/banner1.jpg" class="img-responsive" alt="banner1" title="banner1" />
				</div>
			</div>
			<div class="col-sm-9 mainpage">
				<div class="row">
					<div class="col-sm-12">
						<div class="thumb">
							<img src="assets/images/p01.jpg" alt="image1" title="image1" class="img-responsive"/>
				
						</div>
					</div>
					<br/>&nbsp;
					<div class="tour-detail col-sm-12">
						<ul class="nav nav-tabs list-inline">
							<li class="active">
								<mat-checkbox></mat-checkbox><a href="#detail" data-toggle="tab" aria-expanded="true">Package Detail</a>
							</li>
							<li class="">
								<mat-checkbox></mat-checkbox><a href="#yes-no" data-toggle="tab" aria-expanded="false">Included or Not</a>
							</li>
							<li class="">
								<mat-checkbox></mat-checkbox><a href="#gallery" data-toggle="tab" aria-expanded="false">gallery</a>
							</li>
							<li class="">
								<mat-checkbox></mat-checkbox><a href="#review" data-toggle="tab" aria-expanded="false">review</a>
							</li>
							<li class="">
								<mat-checkbox></mat-checkbox><a href="#add-review" data-toggle="tab" aria-expanded="false">add review</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane col-sm-12" id="yes-no">
								<ul class="list-unstyled">
									<li><img src="assets/images/Drink.png" alt="Drink" title="Drink" class="img-responsive"/> All Drinks included <span class="pull-right yes">Yes</span></li>
									<li><img src="assets/images/lunch.png" alt="lunch" title="lunch" class="img-responsive"/> Lunch in restaurant <span class="pull-right yes">Yes</span></li>
									<li><img src="assets/images/tickets.png" alt="tickets" title="tickets" class="img-responsive"/> All Tickets meuseum <span class="pull-right yes">Yes</span></li>
									<li><img src="assets/images/shop.png" alt="shop" title="shop" class="img-responsive"/> Typical Souvenir <span class="pull-right No">No</span></li>
								</ul>
							</div>
							<div class="tab-pane active col-sm-12" id="detail">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, nulla quis dignissim pellentesque, erat odio fermentum ante, vel fringilla lacus nibh vel massa. Nulla justo orci, porta eget libero fringilla, iaculis posuere dolor. Phasellus eleifend mauris non augue vulputate ultricies. Nulla facilisi. Donec tempor suscipit justo, Vitae maximums mauris posuere non. erat odio fermentum ante, vel fringilla lacus nibh vel massa. Nulla justo orci, porta eget libero fringilla, iaculis posuere dolor.</p>
								<h6>DAY 01</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, nulla quis dignissim pellentesque, erat odio fermentum ante. Phasellus eleifend mauris non augue vulputate ultricies.</p>
								<h6>DAY 02</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, nulla quis dignissim pellentesque, erat odio fermentum ante. Phasellus eleifend mauris non augue vulputate ultricies.</p>
								<h6>DAY 03</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, nulla quis dignissim pellentesque, erat odio fermentum ante. Phasellus eleifend mauris non augue vulputate ultricies.</p>
								<h6>DAY 04</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, nulla quis dignissim pellentesque, erat odio fermentum ante. Phasellus eleifend mauris non augue vulputate ultricies.</p>
							</div>
							<div class="tab-pane col-sm-12" id="gallery">
								<ul class="list-inline">
									<li><img src="assets/images/tour/g1.jpg" class="img-responsive" alt="g1" title="g1" /></li>
									<li><img src="assets/images/tour/g2.jpg" class="img-responsive" alt="g2" title="g2" /></li>
									<li><img src="assets/images/tour/g3.jpg" class="img-responsive" alt="g3" title="g3" /></li>
									<li><img src="assets/images/tour/g4.jpg" class="img-responsive" alt="g4" title="g4" /></li>
									<li><img src="assets/images/tour/g5.jpg" class="img-responsive" alt="g5" title="g5" /></li>
									<li><img src="assets/images/tour/g6.jpg" class="img-responsive" alt="g6" title="g6" /></li>
									<li><img src="assets/images/tour/g7.jpg" class="img-responsive" alt="g7" title="g7" /></li>
									<li><img src="assets/images/tour/g8.jpg" class="img-responsive" alt="g8" title="g8" /></li>
									<li><img src="assets/images/tour/g9.jpg" class="img-responsive" alt="g9" title="g9" /></li>
									<li><img src="assets/images/tour/g10.jpg" class="img-responsive" alt="g10" title="g10" /></li>
								</ul>
							</div>
							<div class="tab-pane col-sm-12" id="review">
								<div class="review">
									<img src="assets/images/tour/pic1.jpg" class="img-responsive" alt="pic1" title="pic1" />
									<div class="caption">
										<h6>John Doe <span>27-Jan-2017</span></h6>
										<div class="rate">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum, dolor sit amet.</p>
									</div>
								</div>
								<div class="review">
									<img src="assets/images/tour/pic2.jpg" class="img-responsive" alt="pic2" title="pic2" />
									<div class="caption">
										<h6>John Doe <span>27-Jan-2017</span></h6>
										<div class="rate">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum, dolor sit amet.</p>
									</div>
								</div>
								<div class="review">
									<img src="assets/images/tour/pic3.jpg" class="img-responsive" alt="pic3" title="pic3" />
									<div class="caption">
										<h6>John Doe <span>27-Jan-2017</span></h6>
										<div class="rate">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum, dolor sit amet.</p>
									</div>
								</div>
								<div class="text-center">
									<button type="button" class="btn-primary">View More <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
								</div>
							</div>
							<div class="tab-pane col-sm-12" id="add-review">
								<h2>ADD REVIEW</h2>
								<form class="form-horizontal row" method="post">
									<fieldset>
										<div class="form-group col-sm-6">
											<label>Name*</label>
											<input class="form-control" id="input-name" value="" name="jobname" required="" type="text">
											<label>Email*</label>
											<input class="form-control" id="input-email" value="" name="email" required="" type="text">
											<label>YOUR RATING*</label>
											<div class="rate">
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
												<i class="fa fa-star-o" aria-hidden="true"></i>
											</div>	
										</div>
										
										<div class="form-group col-sm-6">
											<label>YOUR REVIEW*</label>
											<textarea class="form-control" id="input-enquiry" rows="10" name="enquiry" placeholder="" required=""></textarea>
											<button type="submit" value="Submit" class="btn btn-primary btnus">Submit</button>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				<div class="book-now col-sm-12">
					<h1>BOOK NOW <span>$ 650</span></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue purus quis ornare malesuada. Cras vel tellus arcu. Nulla at ullamcorper dui. Aliquam erat volutpat. In velit nulla.</p>
					<h5>4.30 PM TOUR</h5>
					<hr>
					<form class="form-horizontal" method="post">
						<div class="form-group col-sm-3 paddleft">
							<div class="date">
								<label>AVAILABLE ON</label>
								<input class="form-control" placeholder="dd/mm/yy" [matDatepicker]="avaiDate">
							<mat-datepicker-toggle [for]="avaiDate"></mat-datepicker-toggle>
							<mat-datepicker #avaiDate></mat-datepicker>
							</div>
						</div>	
						<div class="form-group col-sm-2 padd-left">
							<label>ADULTS</label>
							<mat-select class="selectpicker form-control" name="adults" [(value)]="adults">
								<mat-option value="0">01</mat-option>
								<mat-option value="1">02</mat-option>
								<mat-option value="2">03</mat-option>
								<mat-option value="3">04</mat-option>
							</mat-select>
						</div>
						<div class="form-group col-sm-2 padd-left">
							<label>KIDS</label>
							<mat-select class="selectpicker form-control" name="kids" [(value)]="kids">
								<mat-option value="0">01</mat-option>
								<mat-option value="1">02</mat-option>
								<mat-option value="2">03</mat-option>
								<mat-option value="3">04</mat-option>
							</mat-select>
						</div>
						<div class="form-group col-sm-2 padd-left">
							<label>TOTAL AMOUNT</label>
							<input name="s" class="form-control" value="" placeholder="$650.00" type="text">
						</div>
						<div class="col-sm-3 mar-t padd-left">
							<a href="tour-booking-form.html" class="btn-primary">Book NOW</a>
						</div>
					</form>
				</div>
				
				<div class="clearfix"></div>
				
				<div class="row tour packages" id="related-pro">
					<div class="places related">
						<h1>related packages</h1>
						<hr>
					</div>
					<div class="swiper-container" [swiper]="config" [(index)]="index">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="item">	
									<div class="product-layout product-grid col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="product-thumb">
											<div class="image">
												<a href="#"><img src="assets/images/package/01.jpg" alt="image" title="image" class="img-responsive" /></a>
												<div class="hoverbox">
													<div class="icon_plus" aria-hidden="true"></div>
												</div>
											</div>
											<div class="caption">
												<ul class="list-inline link">
													<li><i class="fa fa-clock-o"></i>12 Days</li>
													<li><i class="fa fa-map-marker"></i> South Africa</li>
													<li><i class="fa fa-dollar"></i> 3100</li>
												</ul>
												<div class="inner">
													<h4>Safari Tour</h4>
													<div class="rate">
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star-half-o" aria-hidden="true"></i>
													</div>
													<ul class="list-inline">
														<li><i class="fa fa-map-marker"></i> South Africa</li>
														<li><i class="fa fa-clock-o"></i>12 Days</li>
													</ul>	
													<p class="des">Lorem ipsum dolor sit amet, consectetur dolor sit amet[...]</p>
												</div>
												<div class="text-left">
													<button type="button" onclick="location.href='hotel-booking-form.html'">Book Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<button type="button" onclick="location.href='package-detail-view.html'">View More <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<p>$3100.00</p>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item">	
									<div class="product-layout product-grid col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="product-thumb">
											<div class="image">
												<a href="#"><img src="assets/images/package/02.jpg" alt="image" title="image" class="img-responsive" /></a>
												<div class="hoverbox">
													<div class="icon_plus" aria-hidden="true"></div>
												</div>
											</div>
											<div class="caption">
												<ul class="list-inline link">
													<li><i class="fa fa-clock-o"></i>12 Days</li>
													<li><i class="fa fa-map-marker"></i> South Africa</li>
													<li><i class="fa fa-dollar"></i> 3100</li>
												</ul>
												<div class="inner">
													<h4>Safari Tour</h4>
													<div class="rate">
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star-half-o" aria-hidden="true"></i>
													</div>
													<ul class="list-inline">
														<li><i class="fa fa-map-marker"></i> South Africa</li>
														<li><i class="fa fa-clock-o"></i>12 Days</li>
													</ul>	
													<p class="des">Lorem ipsum dolor sit amet, consectetur dolor sit amet[...]</p>
												</div>
												<div class="text-left">
													<button type="button" onclick="location.href='hotel-booking-form.html'">Book Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<button type="button" onclick="location.href='package-detail-view.html'">View More <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<p>$3100.00</p>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item">	
									<div class="product-layout product-grid col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="product-thumb">
											<div class="image">
												<a href="#"><img src="assets/images/package/03.jpg" alt="image" title="image" class="img-responsive" /></a>
												<div class="hoverbox">
													<div class="icon_plus" aria-hidden="true"></div>
												</div>
											</div>
											<div class="caption">
												<ul class="list-inline link">
													<li><i class="fa fa-clock-o"></i>12 Days</li>
													<li><i class="fa fa-map-marker"></i> South Africa</li>
													<li><i class="fa fa-dollar"></i> 3100</li>
												</ul>
												<div class="inner">
													<h4>Safari Tour</h4>
													<div class="rate">
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star-half-o" aria-hidden="true"></i>
													</div>
													<ul class="list-inline">
														<li><i class="fa fa-map-marker"></i> South Africa</li>
														<li><i class="fa fa-clock-o"></i>12 Days</li>
													</ul>	
													<p class="des">Lorem ipsum dolor sit amet, consectetur dolor sit amet[...]</p>
												</div>
												<div class="text-left">
													<button type="button" onclick="location.href='hotel-booking-form.html'">Book Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<button type="button" onclick="location.href='package-detail-view.html'">View More <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<p>$3100.00</p>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item">	
									<div class="product-layout product-grid col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="product-thumb">
											<div class="image">
												<a href="#"><img src="assets/images/package/01.jpg" alt="image" title="image" class="img-responsive" /></a>
												<div class="hoverbox">
													<div class="icon_plus" aria-hidden="true"></div>
												</div>
											</div>
											<div class="caption">
												<ul class="list-inline link">
													<li><i class="fa fa-clock-o"></i>12 Days</li>
													<li><i class="fa fa-map-marker"></i> South Africa</li>
													<li><i class="fa fa-dollar"></i> 3100</li>
												</ul>
												<div class="inner">
													<h4>Safari Tour</h4>
													<div class="rate">
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star-half-o" aria-hidden="true"></i>
													</div>
													<ul class="list-inline">
														<li><i class="fa fa-map-marker"></i> South Africa</li>
														<li><i class="fa fa-clock-o"></i>12 Days</li>
													</ul>	
													<p class="des">Lorem ipsum dolor sit amet, consectetur dolor sit amet[...]</p>
												</div>
												<div class="text-left">
													<button type="button" onclick="location.href='hotel-booking-form.html'">Book Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<button type="button" onclick="location.href='package-detail-view.html'">View More <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<p>$3100.00</p>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item">	
									<div class="product-layout product-grid col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="product-thumb">
											<div class="image">
												<a href="#"><img src="assets/images/package/02.jpg" alt="image" title="image" class="img-responsive" /></a>
												<div class="hoverbox">
													<div class="icon_plus" aria-hidden="true"></div>
												</div>
											</div>
											<div class="caption">
												<ul class="list-inline link">
													<li><i class="fa fa-clock-o"></i>12 Days</li>
													<li><i class="fa fa-map-marker"></i> South Africa</li>
													<li><i class="fa fa-dollar"></i> 3100</li>
												</ul>
												<div class="inner">
													<h4>Safari Tour</h4>
													<div class="rate">
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star-half-o" aria-hidden="true"></i>
													</div>
													<ul class="list-inline">
														<li><i class="fa fa-map-marker"></i> South Africa</li>
														<li><i class="fa fa-clock-o"></i>12 Days</li>
													</ul>	
													<p class="des">Lorem ipsum dolor sit amet, consectetur dolor sit amet[...]</p>
												</div>
												<div class="text-left">
													<button type="button" onclick="location.href='hotel-booking-form.html'">Book Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<button type="button" onclick="location.href='package-detail-view.html'">View More <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<p>$3100.00</p>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item">	
									<div class="product-layout product-grid col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="product-thumb">
											<div class="image">
												<a href="#"><img src="assets/images/package/03.jpg" alt="image" title="image" class="img-responsive" /></a>
												<div class="hoverbox">
													<div class="icon_plus" aria-hidden="true"></div>
												</div>
											</div>
											<div class="caption">
												<ul class="list-inline link">
													<li><i class="fa fa-clock-o"></i>12 Days</li>
													<li><i class="fa fa-map-marker"></i> South Africa</li>
													<li><i class="fa fa-dollar"></i> 3100</li>
												</ul>
												<div class="inner">
													<h4>Safari Tour</h4>
													<div class="rate">
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star" aria-hidden="true"></i>
														<i class="fa fa-star-half-o" aria-hidden="true"></i>
													</div>
													<ul class="list-inline">
														<li><i class="fa fa-map-marker"></i> South Africa</li>
														<li><i class="fa fa-clock-o"></i>12 Days</li>
													</ul>	
													<p class="des">Lorem ipsum dolor sit amet, consectetur dolor sit amet[...]</p>
												</div>
												<div class="text-left">
													<button type="button" onclick="location.href='hotel-booking-form.html'">Book Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<button type="button" onclick="location.href='package-detail-view.html'">View More <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
													<p>$3100.00</p>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="owl-controls clickable">
						  <div class="owl-buttons">
						    <div class="owl-prev">Prev</div>
						    <div class="owl-next">Next</div>
						  </div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>
<!-- main container end here -->

<!-- news start here -->
<div class="news">
	<img src="assets/images/subscribe-bg.jpg" class="img-responsive sub" alt="subscribe-bg" title="subscribe-bg" />
	<div class="newsinner">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="assets/images/foot-banner1.png" alt="foot-banner1" title="foot-banner1" class="img-responsive" /></a>
						<div class="hoverbox"></div>
						<div class="matter">
							<p class="des"><span class="icon_building_alt"></span> Hotel</p>
							<button type="button"> Booking Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="assets/images/foot-banner2.png" alt="foot-banner2" title="foot-banner2" class="img-responsive" /></a>
						<div class="hoverbox"></div>
						<div class="off">
							<span>Best Packages</span>
						</div>
						<div class="matter">
							<p class="des1">$1000 <span>Package</span> to <small>Dubai</small></p>
							<button type="button"> Booking Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="assets/images/foot-banner3.png" alt="foot-banner3" title="foot-banner3" class="img-responsive" /></a>
						<div class="hoverbox"></div>
						<div class="matter">
							<p class="des2"><i class="icon_percent_alt"></i> 25% off<br> to <span>Island</span></p>
							<button type="button"> Booking Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12">
				<form class="subscribe">
					<div class="form-group">
						<div class="input-group">
							<label>Subscribe to our newsletter</label>
							<input placeholder="Enter your email" name="subscribe_email" value="" type="text">
							<button class="btn btn-default btn-lg" type="submit">Subscribe Now</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
</div>
<!-- news end here -->