<form>
  <h1>Tours</h1>

<div class="row mb-3">
  <div class="col-md-10">
    <input (keyup)="search()" class="form-control" type="text" placeholder="Search tour name..." #tourName />
  </div>
  <div class="col-md-2">
    <input (click)="clear();tourName.value=''" class="btn btn-info col-md-12" type="button" value="Clear" />
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Tour Name</th>
      <th scope="col">Basic Cost</th>
    </tr>
  </thead>
  <tbody>
     <ng-container *ngFor="let obj of grandServicesList">
        <tr routerLink="/admin/tours/{{obj.name}}/Tour">
          <td>{{ obj.name }}</td>
          <td>{{ obj.totalCost }}</td>
        </tr>
     </ng-container>
  </tbody>
</table>

  <hr />
  <div class="row">
    <div class="col-md-12">
      <a routerLink="/admin/tours/0/Tour" href="#" class="btn btn-primary">Add a Tour</a>
    </div>
  </div>
</form>
