<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Collins Tours Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav col-md-10">
      <a class="nav-item nav-link active" routerLink="/admin/leads">Leads<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/admin/vendors">Vendors<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/admin/tours">Tours<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/admin/customers">Customers<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/admin/reports">Reports<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/admin/" (click)="logout();">Log Out<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
